
@{
    ViewBag.Title = "tra cứu kích hoạt";
}

<style>
    .table tr td {
        border: none;
        padding: 3px 0;
        text-align: justify;
        /*font-style: italic;*/
        font-size: 14px;
    }

        .table tr td:first-child {
            width: 150px;
        }

    .message {
        font-weight: bold;
        color: #e91d29;
    }

    #box-result {
        display: none;
        max-width: 500px;
        margin: 15px auto;
    }

    table tr td button {
        margin-top: 15px;
    }

    #table-result {
        color: black;
    }
</style>
<div class="home-act">
    <div class="container">
        <div class="title">
            <h1>TRA CỨU THÔNG TIN SẢN PHẨM</h1>
            <h3>Tra cứu thông tin hạn bảo hành của một sản phẩm của Techzhome bằng số Serial.</h3>
            <div class="line-space">
                @*<img src="/Image/line_space.png" class="img-responsive">*@
            </div>
        </div>
        <div class="content">
            <form>
                <div class="row">
                    <div class="col-12">
                        <div class="text-center">
                            <input type="text" class="form-control" id="Code" name="Code" style="margin: auto" />
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="text-center box-btn">
                            <button id="btnSend" class="btn btn-danger" type="button" onclick="sendForm()">TRA CỨU</button>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="alert alert-success w3-animate-right" id="box-result">
                            <div class="panel">
                                <p class="message" id="rMessage"></p>
                                <table class="table" id="table-result">
                                    <tr>
                                        <td>Tên sản phẩm </td>
                                        <td id="rName"></td>
                                    </tr>
                                    <tr>
                                        <td>Serial </td>
                                        <td id="rSerial"></td>
                                    </tr>
                                    <tr>
                                        <td>Model </td>
                                        <td id="rModel"></td>
                                    </tr>
                                    <tr>
                                        <td>Thương hiệu </td>
                                        <td id="rTrademark"></td>
                                    </tr>
                                    <tr>
                                        <td>Ngày kích hoạt </td>
                                        <td id="rActive_date"></td>
                                    </tr>
                                    <tr>
                                        <td>Hạn bảo hành </td>
                                        <td id="rLimited"></td>
                                    </tr>
                                    <tr>
                                        <td>Ngày hết hạn </td>
                                        <td id="rEnd_date"></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts{
    <script>
        var apiUrl = '@System.Configuration.ConfigurationManager.AppSettings["DOMAIN"]';
        function sendForm() {
            //reset result
            $("#table-result").css("display", "none");
            $("#box-result").css("display", "none");

            var serial = $('#Code').val();
            $.ajax({
                url: apiUrl + '/api/action/searchproduct?code=' + serial,
                type: 'GET',
                dataType: 'json',
                success: function (result) {
                    //hien thi message
                    $("#box-result").css("display", "block");
                    $('#rMessage').html(result.Message);

                    //hien thi thong tin san pham
                    if (result.Data.length > 0) {
                        var product = result.Data[0];
                        $("#table-result").css("display", "block");
                        $('#rName').html(product.Name);
                        $('#rSerial').html(product.Code);
                        $('#rModel').html(product.Model);
                        $('#rTrademark').html(product.Trademark);
                        $('#rActive_date').html(product.Activedate);
                        $('#rLimited').html(product.Limited);
                        $('#rEnd_date').html(product.Enddate);
                    }
                }
            });

        }
    </script>
}

