
@{
    ViewBag.Title = "bảo hành";
}
<div class="home-act">
    <div class="container">
        <div class="title">
            <h1>YÊU CẦU BẢO HÀNH</h1>
            <h3>Yêu cầu bảo hành hoặc sửa chữa cho sản phẩm của Techzhome khi có phát sinh bảo hành hoặc sửa chữa.</h3>
            <div class="line-space">
                @*<img src="/Image/line_space.png" class="img-responsive">*@
            </div>
        </div>
        <div class="content">
            <form>
                <div class="row">
                    <div class="col-md-6">
                        <h4>THÔNG TIN KHÁCH HÀNG</h4>
                        <table>
                            <tr>
                                <td>Số ĐT liên lạc</td>
                                <td>
                                    <input class="form-control" type="text" name="Phone" id="Phone" onchange="GetCustomer()" />
                                </td>
                            </tr>
                            <tr class="hidden">
                                <td>Số ĐT liên lạc</td>
                                <td>
                                    <input class="form-control" type="text" name="PhoneExtra" id="PhoneExtra" onchange="GetCustomer()" />
                                </td>
                            </tr>
                            <tr>
                                <td>Họ tên </td>
                                <td>
                                    <input class="form-control" type="text" name="CusName" id="CusName" />
                                </td>
                            </tr>
                            <tr>
                                <td>Tỉnh/ Thành phố</td>
                                <td>
                                    <select class="form-control" type="text" name="Province" id="Province"></select>
                                </td>
                            </tr>
                            <tr>
                                <td>Huyện/ Quận</td>
                                <td>
                                    <select class="form-control" type="text" name="District" id="District"></select>
                                </td>
                            </tr>
                            <tr>
                                <td>Xã/ Phường</td>
                                <td>
                                    <select class="form-control" type="text" name="Ward" id="Ward"></select>
                                </td>
                            </tr>
                            <tr>
                                <td>Địa chỉ</td>
                                <td>
                                    <input class="form-control" type="text" name="Address" id="Address" />
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <h4>THÔNG TIN SẢN PHẨM</h4>
                        <table>
                            <tr id="box-product">
                                <td>Số Serial</td>
                                <td>
                                    <input class="form-control" type="text" name="ProductCode" id="ProductCode" onchange="GetProduct()" />
                                </td>
                            </tr>
                            <tr id="box-product-select" style="display: none">
                                <td>Số Serial</td>
                                <td>
                                    <select class="form-control" type="text" name="Code1" id="Code1" onchange="GetProduct1()">
                                        <option>--Chọn sản phẩm--</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Tên sản phẩm</td>
                                <td>
                                    <input class="form-control" type="text" name="ProductName" id="ProductName" />
                                </td>
                            </tr>
                            <tr>
                                <td>Model</td>
                                <td>
                                    <input class="form-control" type="text" name="Model" id="Model" />
                                </td>
                            </tr>
                            <tr>
                                <td>Thương hiệu</td>
                                <td>
                                    <input class="form-control" type="text" name="Trademark" id="Trademark" />
                                </td>
                            </tr>
                            <tr>
                                <td>Mô tả lỗi</td>
                                <td>
                                    <textarea class="form-control" type="text" name="Note" id="Note"></textarea>
                                </td>
                            </tr>
                            <tr style="display:none">
                                <td><label class="control-label">Người tạo: </label></td>
                                <td><input class="form-control" type="text" required id="Create" name="Create" value="@User.Identity.Name" /></td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-12">
                        <div class="text-center  box-btn">
                            <button type="button" id="btnSend" onclick="sendForm()" class="btn btn-danger">YÊU CẦU BẢO HÀNH</button>
                        </div>
                        <p class="text-danger" id="rMessage"></p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts{
    <script>
        var apiUrl = '@System.Configuration.ConfigurationManager.AppSettings["DOMAIN"]';
        $("#Province").click(function () {
            $.ajax
                ({
                    url: apiUrl + '/api/action/getprovince',
                    type: 'GET',
                    datatype: 'application/json',
                    contentType: 'application/json',
                    success: function (result) {
                        $("#District").empty();
                        $("#Ward").empty();
                        if (result.Data.length > 0) {
                            var product = result.Data;
                            if ($("#Province option").length < 3) {

                                $.each(product, function (i, province) {
                                    $("#Province").append($('<option></option>').val(province).html(province))
                                })
                            }
                        }
                    }
                });
        });
        $("#District").click(function () {
            var name = $("#Province").val();
            $.ajax
                ({
                    url: apiUrl + '/api/action/getdistrict?province=' + name,
                    type: 'GET',
                    datatype: 'application/json',
                    contentType: 'application/json',
                    success: function (result) {
                        $("#Ward").empty();
                        if (result.Data.length > 0) {
                            var product = result.Data;
                            if ($("#District option").length < 3) {
                                $.each(product, function (i, district) {
                                    $("#District").append($('<option></option>').val(district).html(district))
                                })
                            }
                        }
                    }
                });
        });
        $("#Ward").click(function () {
            var name = $("#District").val();
            $.ajax
                ({
                    url: apiUrl + '/api/action/getward?district=' + name,
                    type: 'GET',
                    datatype: 'application/json',
                    contentType: 'application/json',
                    success: function (result) {
                        if (result.Data.length > 0) {
                            var product = result.Data;
                            if ($("#Ward option").length < 3) {
                                $.each(product, function (i, ward) {
                                    $("#Ward").append($('<option></option>').val(ward).html(ward))
                                })
                            }
                        }
                    }
                });
        });

        function GetCustomer() {
            var phone = $("#Phone").val();
            $.ajax
                ({
                    url: apiUrl + '/api/action/getcustomer?phone=' + phone,
                    type: 'GET',
                    datatype: 'application/json',
                    contentType: 'application/json',
                    success: function (result) {
                        $('#Province').empty();
                        $('#District').empty();
                        $('#Ward').empty();
                        $("#Address").val("");
                        if (result.Data.length > 0) {
                            var product = result.Data[0];
                            if (product.Province != null) {
                                $('#Province').append(new Option(product.Province, product.Province, true, true));
                            }
                            if (product.District != null) {
                                $('#District').append(new Option(product.District, product.District, true, true));
                            }
                            if (product.Ward != null) {
                                $('#Ward').append(new Option(product.Ward, product.Ward, true, true));
                            }
                            if (product.Address != null) {
                                $("#Address").val(product.Address);
                            }
                                //$("#CusName").val(product.Name);
                                //var list = product.ListProduct;
                                //if (product.ListProduct.length > 0) {
                                //    $("#box-product-select").css("display", "");
                                //    $("#box-product").css("display", "none");
                                //    $.each(list, function (i, ward) {
                                //        $("#Code1").append($('<option></option>').val(ward.Code).html(ward.Code))
                                //    })
                                //}


                        }
                        else {
                            //$("#box-product-select").css("display", "none");
                            //$("#box-product").css("display", "");

                            //$("#box-product-select").css("display", "");
                            //$("#box-product").css("display", "none");
                            $('#ProductName').val("");
                            $('#Model').val("");
                            $('#Trademark').val("");
                            $('#ProductCode').val("");
                            $('#Code1').val("");
                            $('#CusName').val("");
                        }

                    }
                });
        }
        function GetProduct() {
            var code = $("#ProductCode").val();
            $.ajax
                ({
                    url: apiUrl + '/api/action/getproduct?code=' + code,
                    type: 'GET',
                    datatype: 'application/json',
                    contentType: 'application/json',
                    success: function (result) {
                        $('#ProductName').val("");
                        $('#Model').val("");
                        $('#Trademark').val("");
                        if (result.Data.length > 0) {
                            var product = result.Data[0];
                            if (product.Status == 1 || product.Status == 0) {//kích hoạt rồi thì map thông tin

                                $("#ProductName").val(product.Name);
                                $("#Model").val(product.Model);
                                $("#Trademark").val(product.Trademark);
                            }
                            else {
                                alert("Serial sản phẩm chưa đúng. Vui lòng kiểm tra lại.")
                            }
                        }

                    }
                });
        }
        function GetProduct1() {
            var code1 = $("#Code1").val();
            $.ajax
                ({
                    url: apiUrl + '/api/action/getproduct?code=' + code1,
                    type: 'GET',
                    datatype: 'application/json',
                    contentType: 'application/json',
                    success: function (result) {
                        $('#ProductCode').val("");
                        $('#ProductName').val("");
                        $('#Model').val("");
                        $('#Trademark').val("");
                        if (result.Data.length > 0) {
                            var product = result.Data[0];
                            if (product.Status == 1 || product.Status == 0) {//kích hoạt rồi thì map thông tin

                                $("#ProductName").val(product.Name);
                                $("#Model").val(product.Model);
                                $("#Trademark").val(product.Trademark);
                                $("#ProductCode").val(product.Code);
                            }
                            else {
                                alert("Serial sản phẩm chưa đúng. Vui lòng kiểm tra lại.")
                            }
                        }

                    }
                });
        }
    </script>
    <script>
        function sendForm() {

            var phone = $('#Phone').val();
            var phoneextra = $('#PhoneExtra').val();
            var cusname = $('#CusName').val();
            var province = $('#Province').val();
            var district = $('#District').val();
            var ward = $('#Ward').val();
            var address = $('#Address').val();
            var code = $('#ProductCode').val();
            var note = $('#Note').val();
            var create = $('#Create').val();
            var model = $('#Model').val();
            if (phone == "") {
                $('#rMessage').html("/* Nhập số điện thoại bảo hành");
            } else if (province == "" || district == "" || ward == "" || address == "") {
                $('#rMessage').html("/* Nhập đầy đủ địa chỉ");
            } else if (code == "") {
                $('#rMessage').html("/* Nhập Serial sản phẩm");
            }
            else if (note == "") {
                $('#rMessage').html("/* Nhập mô tả lỗi cho sản phẩm");
            }
            else {
                $.ajax({
                    url: apiUrl + '/api/action/warranti',
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        Chanel: "WEB", Phone: phone, PhoneExtra: phoneextra, CusName: cusname,
                        Province: province, District: district, Ward: ward, Address: address, ProductCode: code, Note: note, Createby: create, Model: model
                    },
                    success: function (result) {
                        $('#rMessage').html(result.Message);
                    }
                });
            }

        }
    </script>
}